In [18]:
import os
import pandas as pd
import statsmodels.api as sm 

CSV_PATH = '/workspaces/Tracking-Gazes-on-Museum-Pieces-Data-Plus/data'
DEMOGRAPHIC_DATA = '/workspaces/Tracking-Gazes-on-Museum-Pieces-Data-Plus/demographic.xlsx'

def concat_df(CSV_PATH):
    df = pd.DataFrame()
    for folder in os.listdir(CSV_PATH):
        temp_path = os.path.join(CSV_PATH, folder, 'gaze.csv')
        temp_df = pd.read_csv(temp_path)
        temp_df['folder_id'] = folder
        df = pd.concat([df, temp_df])
    return df

demographic_data = pd.read_excel(DEMOGRAPHIC_DATA)
gaze_df = concat_df(CSV_PATH)
print(gaze_df.shape)
gaze_df = pd.merge(demographic_data, gaze_df, left_on='codice_eyetr_museo', right_on='folder_id', how='right')
print(gaze_df.shape)
print('Row count', gaze_df.shape[0])
print('Participant count', gaze_df['section id'].nunique())
print('Participant count', gaze_df['codice_eyetr_museo'].nunique())
display(gaze_df.head())

(201794, 9)
(201794, 19)
Row count 201794
Participant count 16
Participant count 12

,School or degree course,Age,Educational Qualification,sesso,codice_eeg_lab,codice_eyetr_lab,codce_eeg_museo,codice_eyetr_museo,Unnamed: 10,vts,section id,recording id,timestamp [ns],gaze x [px],gaze y [px],worn,fixation id,blink id,folder_id
0,filologia,46.0,laurea magistrale,m,NaN,NaN,2022_24am,2022_24bm,NaN,NaN,b039bef1-92a5-45d2-a73e-05e1758c0c8c,90bcfb34-bdf6-4f33-82e1-f0a94bd0d6b4,1649775196704687470,649.461,340.887,1.0,NaN,NaN,2022_24bm
1,filologia,46.0,laurea magistrale,m,NaN,NaN,2022_24am,2022_24bm,NaN,NaN,b039bef1-92a5-45d2-a73e-05e1758c0c8c,90bcfb34-bdf6-4f33-82e1-f0a94bd0d6b4,1649775196708704470,649.682,346.563,1.0,NaN,NaN,2022_24bm
2,filologia,46.0,laurea magistrale,m,NaN,NaN,2022_24am,2022_24bm,NaN,NaN,b039bef1-92a5-45d2-a73e-05e1758c0c8c,90bcfb34-bdf6-4f33-82e1-f0a94bd0d6b4,1649775196712663470,649.030,346.605,1.0,NaN,NaN,2022_24bm
3,filologia,46.0,laurea magistrale,m,NaN,NaN,2022_24am,2022_24bm,NaN,NaN,b039bef1-92a5-45d2-a73e-05e1758c0c8c,90bcfb34-bdf6-4f33-82e1-f0a94bd0d6b4,1649775196716686470,625.863,353.154,1.0,NaN,NaN,2022_24bm
4,filologia,46.0,laurea magistrale,m,NaN,NaN,2022_24am,2022_24bm,NaN,NaN,b039bef1-92a5-45d2-a73e-05e1758c0c8c,90bcfb34-bdf6-4f33-82e1-f0a94bd0d6b4,1649775196724693470,628.950,364.969,1.0,NaN,NaN,2022_24bm